<script>
    function createGiscusScript(data) {
      const giscusScript = document.createElement('script');
  
      // 动态设置脚本属性
      Object.entries(data).forEach(([key, value]) => giscusScript.setAttribute(key, value));
  
      // 将脚本标签添加到 <article> 中
      document.querySelector('article').appendChild(giscusScript);
  
      // 切换主题时更新 giscus 主题
      const toggle = document.querySelector('label[for="switch_default"]');
      if (toggle) {
        toggle.addEventListener('click', function () {
          // 根据 body 类动态设置 giscus 主题
          const theme = document.body.classList.contains('dark') ? 'transparent_dark' : 'light';
          giscusScript.setAttribute('data-theme', theme);
  
          // 给 giscus iframe发送消息，更新主题
          sendMessage({ setConfig: { theme } });
        });
      }
    }
  
    function sendMessage(message) {
      const iframe = document.querySelector('iframe.giscus-frame');
      if (iframe) {
        iframe.contentWindow.postMessage({ giscus: message }, 'https://giscus.app');
      }
    }
  
    document.addEventListener('DOMContentLoaded', function () {
      // 定义 Giscus 数据属性
      const giscusAttributes = {
        src: 'https://giscus.app/client.js',
        'data-repo': 'yunyit/yunyit.github.io',
        'data-repo-id': 'R_kgDOKqkPYw',
        'data-category': 'Comments',
        'data-category-id': 'DIC_kwDOKqkPY84CceDi',
        'data-mapping': 'url',
        'data-strict': '0',
        'data-reactions-enabled': '1',
        'data-emit-metadata': '0',
        'data-input-position': 'top',
        'data-lang': 'en',
        crossorigin: 'anonymous',
        async: '',
      };
  
      // 根据 body 类设置初始 giscus 主题
      giscusAttributes['data-theme'] = document.body.classList.contains('dark')
        ? 'transparent_dark'
        : 'light';
  
      // 调用函数，使用属性创建 giscus 脚本
      createGiscusScript(giscusAttributes);
  
      // body 类变化时动态更新 giscus 主题
      const bodyObserver = new MutationObserver(() => {
        const theme = document.body.classList.contains('dark') ? 'transparent_dark' : 'light';
        sendMessage({ setConfig: { theme } });
      });
  
      bodyObserver.observe(document.body, { attributes: true, attributeFilter: ['class'] });
    });
  </script>